.container h1 {
  text-transform: uppercase;
}

.container .hidden {
  display: none;
}

.container .clean {
  background: #e77e7e;
}

html, body, .grid-container {
  height: 100%;
  margin: 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr 1fr 1fr;
      grid-template-columns: 50px 1fr 1fr 1fr;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  gap: 0px 0px;
  text-transform: uppercase;
      grid-template-areas: "count-number name surname home-task" "student-count student-count student-count student-count";
}

.count-number {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: count-number;
  -ms-grid-column-align: center;
      justify-self: center;
}

.name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  -ms-grid-column-align: center;
      justify-self: center;
}

.surname {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: surname;
  -ms-grid-column-align: center;
      justify-self: center;
}

.home-task {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: home-task;
  -ms-grid-column-align: center;
      justify-self: center;
}

.student-count {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: student-count;
}

.student-count .grid-student-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "index-name index-surname index-home-task";
}

.student-count div ol {
  margin: 0;
}

.student-count div ol li {
  list-style: upper-roman;
  text-align: center;
}

.student-count div ol li div p {
  text-transform: capitalize;
}
/*# sourceMappingURL=main.css.map */